/* * {
    border: 1px red solid;
} */

input {
    -webkit-appearance: none;
}

input:focus {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

textarea:focus {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
}

select:focus {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="checkbox"]:focus {
    -webkit-appearance: checkbox;
}

input[type="date"] {
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
    min-height: 36px;
    background-color: #fff;
    text-align: left;
    color: #222222;
}