/* * {
    border: 1px red solid;
} */

:root {
    --primary-color: #59bf1a;
    --secondary-color: #3c5a3f;
    --header-height: calc(60px + env(safe-area-inset-top));
    --footer-height: calc(52px + env(safe-area-inset-bottom));
    --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}

input {
    -webkit-appearance: none;
}

input:focus {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

textarea:focus {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
}

select:focus {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="checkbox"]:focus {
    -webkit-appearance: checkbox;
}

input[type="date"] {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
    min-height: 36px;
    background-color: #fff;
    text-align: left;
    color: #222222;
}