input {
    -webkit-appearance: none;
}

input:focus {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

textarea:focus {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
}

select:focus {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="checkbox"]:focus {
    -webkit-appearance: checkbox;
}

input[type="date"] {
    -webkit-appearance: none;
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    min-height: 36px;
    background-color: #fff;
}

/* input[type="date"]:focus {
    -webkit-appearance: none;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */