.calendarContainer {
    height: 400px;
}

/* .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 40px;
    position: fixed;
    background: white;
    animation: fade-in 0.35s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    z-index: 30;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-40%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes fade-in-no-movement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 29;
    animation: fade-in-no-movement 0.20s ease;
}

.lukModal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background: rgba(193, 26, 57, 0.25);
    color: rgba(193, 26, 57, 1);
    cursor: pointer;
}

.modalHeading {
    font-family: OmnesBold;
    margin-bottom: 20px;
    padding-right: 30px;
}

.modalInput {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modalInput:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
} */