.billede {
    width: 100%;
    border: 1px solid #00000030;
    border-radius: 10px;
}

.video {
    max-width: 100%;
    max-height: 60vh;
    border: 1px solid #00000030;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.pdfIcon {
    max-width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 0 auto;
    display: block;
}

.pdfIcon:hover {
    transform: scale(1.05);
}

