* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Omnes;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0px 10px;
  background: linear-gradient(135deg, #a8e6cf20 0%, #7ed3b220 50%, #5fb89f20 100%);
}

@media (max-width: 750px) {
  .app {
    padding: 0px 0px;
  }
}

/* ========================== Font imports ========================== */

@font-face {
  font-family: Omnes;
  src: url(./fonts/Omnes.ttf);
}

@font-face {
  font-family: OmnesBold;
  src: url(./fonts/OmnesBold.ttf);
}