* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Omnes;
}

h1, h2, h3, h4, h5, p, a, span {
    color: #333333;
}

#root {
    min-height: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

ul li a:hover {
    color: black!important;
}

ul li a.active {
    color: #59bf1a!important;
    transition: 0.2s ease;
    padding-left: 5px;
}

.bold {
    font-family: OmnesBold
}

.lucide {
    transition: 0.2s ease;
}

@font-face {
    font-family: Omnes;
    src: url(./fonts/Omnes.ttf);
}

@font-face {
    font-family: OmnesBold;
    src: url(./fonts/OmnesBold.ttf);
}