.yellow {
    margin-right: 10px;
}

.yellow * {
    font-family: Omnes;
    font-size: 0.9rem;
    color: #333333;
}

.highlightØnsketUdført {
    background: #59bf1a;
    z-index: 2;
    position: absolute;
    bottom: 11px;
    left: 35%;
    width: 38%;
    height: 2px;
}

.buttons {
    width: 36px;
    margin: 0;
    padding: 0;
    position: relative;
}