.yellow {
    margin-right: 10px;
}

.yellow * {
    font-family: Omnes;
    font-size: 0.9rem;
    color: #333333;
}

.highlightØnsketUdført {
    border-radius: 100px;
    height: 5px;
    width: 5px;
    background: #59bf1a;
    z-index: 2;
}

.highlightOpgaver {
    border-radius: 100px;
    height: 5px;
    width: 5px;
    background: #333333;
    z-index: 2;
}

.highlightDiv {
    position: absolute;
    bottom: 4px;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.buttons {
    width: 36px;
    margin: 0;
    padding: 0;
    position: relative;
}