.personligtØkonomiskOverblikContainer {
    margin-top: 40px;
}

.økonomiDetaljer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: #fafafa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.økonomiDetaljerDiv {
    border-right: 1px solid #e0e0e0;
    width: 33.3%;
    padding: 20px;
    text-align: center;
}

.økonomiDetaljerDiv:last-child {
    border-right: none;
}

.økonomiDetaljerHeading {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: OmnesBold;
}

.økonomiDetaljerContent {
    font-size: 24px;
    font-weight: 800;
    font-family: OmnesBold;
}

.okonomiHeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    align-items: center;
    white-space: nowrap;
}

.moveBackButton {
    background: #3c5a3f;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    line-height: 10px;
    height: 25px;
    width: 25px;
    transition: 0.2s ease;
}

.moveBackButton:hover {
    background: #59bf1a;
}

.moveForwardButton {
    background: #3c5a3f;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    line-height: 10px;
    height: 25px;
    width: 25px;
    transition: 0.2s ease;
}

.moveForwardButton:hover {
    background: #59bf1a;
}

.åbnModalButton {
    background: #3c5a3f;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    line-height: 10px;
    height: 25px;
    padding: 0 10px;
    transition: 0.2s ease;
}

.åbnModalButton:hover {
    background: #59bf1a;
}

.chooseMonthButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 750px) {
    .heading {
        font-size: 1rem;
        color: black;
    }

    .chooseMonthButtonsContainer button {
        font-size: 1rem;
        height: 30px;
        width: 30px;
    }

    .chooseMonthButtonsContainer button:last-child {
        font-size: 1rem;
        height: 30px;
        width: auto;
    }

    .økonomiDetaljerDiv {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .økonomiDetaljerHeading {
        font-size: 0.7rem;
        height: 25px;
        white-space: nowrap;
        margin-bottom: 0px;
    }

    .økonomiDetaljerContent {
        font-size: 14px;
    }
}