.closedTasksHeader ul li:nth-child(1), .closedTasksBody div ul li:nth-child(1) {
    width: 9%;
}

.closedTasksHeader ul li:nth-child(2), .closedTasksBody div ul li:nth-child(2) {
    width: 29%;
}

.closedTasksHeader ul li:nth-child(3), .closedTasksBody div ul li:nth-child(3) {
    width: 19%;
}

.closedTasksHeader ul li:nth-child(4), .closedTasksBody div ul li:nth-child(4) {
    width: 19%;
}

.closedTasksHeader ul li:nth-child(5), .closedTasksBody div ul li:nth-child(5) {
    width: 19%;
}

.closedTasksHeader ul li:nth-child(6), .closedTasksBody div ul li:nth-child(6) {
    width: 3%;
}

.mobileTable {
    display: none;
}

.opgaveVirksomhedNavn {
    font-size: 0.65rem;
    color: #696969;
}

.opgaveBetalingStatusDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

@media (max-width: 750px) {
    .mobileTable {
        display: block;
    }

    .desktopTable {
        display: none;
    }

    .closedTasksHeader ul li:nth-child(1), .closedTasksBody div ul li:nth-child(1) {
        width: 20%;
    }
    
    .closedTasksHeader ul li:nth-child(2), .closedTasksBody div ul li:nth-child(2) {
        width: 50%;
    }
    
    .closedTasksHeader ul li:nth-child(3), .closedTasksBody div ul li:nth-child(3) {
        width: 25%;
    }
    
    .closedTasksHeader ul li:nth-child(4), .closedTasksBody div ul li:nth-child(4) {
        width: 5%;
    }

    /* .closedTasksBody div {
        border-right: 4px solid #59bf1a;
    } */
}