.delegatedTasksHeader ul li:nth-child(1), .delegatedTasksBody div ul li:nth-child(1) {
    width: 10%;
}

.delegatedTasksHeader ul li:nth-child(2), .delegatedTasksBody div ul li:nth-child(2) {
    width: 30%;
}

.delegatedTasksHeader ul li:nth-child(3), .delegatedTasksBody div ul li:nth-child(3) {
    width: 30%;
}

.delegatedTasksHeader ul li:nth-child(4), .delegatedTasksBody div ul li:nth-child(4) {
    width: 30%;
}

.mobileTable {
    display: none;
}

.opgaveVirksomhedNavn {
    font-size: 0.65rem;
    color: #696969;
}

@media (max-width: 750px) {
    .mobileTable {
        display: block;
    }

    .desktopTable {
        display: none;
    }

    .delegatedTasksHeader ul li:nth-child(1), .delegatedTasksBody div ul li:nth-child(1) {
        width: 35%;
    }
    
    .delegatedTasksHeader ul li:nth-child(2), .delegatedTasksBody div ul li:nth-child(2) {
        width: 35%;
    }
    
    .delegatedTasksHeader ul li:nth-child(3), .delegatedTasksBody div ul li:nth-child(3) {
        width: 30%;
    }

    .delegatedTasksBody div {
        cursor: pointer;
        border-right: 4px solid #59bf1a;
    }
}