.container {
    margin-bottom: 50px;
}

.planlægBesøgButton {
    padding: 5px 8px;
    background: rgba(224, 227, 50, 0.25);
    color: rgba(179, 116, 0, 0.85);
    border: 1px solid rgba(179, 116, 0, 0.85);
    border-radius: 5px;
    cursor: pointer;
    text-wrap: nowrap;
}

.planlagtBesøgButton {
    padding: 5px 8px;
    background: rgba(89, 191, 26, 0.25);
    color: #3c5a3f;
    border: 1px solid #3c5a3f;
    border-radius: 5px;
    cursor: pointer;
    text-wrap: nowrap;
}

.opgaveTabelDesktop .myTasksHeader ul li:nth-child(1), .opgaveTabelDesktop .myTasksBody div ul li:nth-child(1) {
    width: 6%;
}

.opgaveTabelDesktop .myTasksHeader ul li:nth-child(2), .opgaveTabelDesktop .myTasksBody div ul li:nth-child(2) {
    width: 28%;
}

.opgaveTabelDesktop .myTasksHeader ul li:nth-child(3), .opgaveTabelDesktop .myTasksBody div ul li:nth-child(3) {
    width: 22%;
}

.opgaveTabelDesktop .myTasksHeader ul li:nth-child(4), .opgaveTabelDesktop .myTasksBody div ul li:nth-child(4) {
    width: 30%;
}

.opgaveTabelDesktop .myTasksHeader ul li:nth-child(5), .opgaveTabelDesktop .myTasksBody div ul li:nth-child(5) {
    width: 18%;
}

.opgaveTabelMobile {
    display: none;
}

.opgaveVirksomhedNavn {
    font-size: 0.65rem;
    color: #696969;
}

@media (max-width: 750px) {
    .opgaveTabelMobile {
        display: block;
    }

    .opgaveTabelDesktop {
        display: none;
    }

    .opgaveTabelMobile .myTasksHeader ul li:nth-child(1), .opgaveTabelMobile .myTasksBody div ul li:nth-child(1) {
        width: 30%;
        min-width: 30%;
        max-width: 30%;
    }

    .opgaveTabelMobile .myTasksHeader ul li:nth-child(2), .opgaveTabelMobile .myTasksBody div ul li:nth-child(2) {
        min-width: 30%;
        width: 30%;
        max-width: 30%;
    }

    .opgaveTabelMobile .myTasksHeader ul li:nth-child(3), .opgaveTabelMobile .myTasksBody div ul li:nth-child(3) {
        min-width: 40%;
        width: 40%;
        max-width: 40%;
    }

    .opgaveTabelMobile .myTasksBody div {
        border-right: 4px solid #59bf1a;
    }
}