/* ===== DESKTOP COLUMNS ===== */

.openTasksHeaderDesktop ul li:nth-child(1), .openTasksBodyDesktop div ul li:nth-child(1) {
    width: 17%;
}

.openTasksHeaderDesktop ul li:nth-child(2), .openTasksBodyDesktop div ul li:nth-child(2) {
    width: 20%;
}

.openTasksHeaderDesktop ul li:nth-child(3), .openTasksBodyDesktop div ul li:nth-child(3) {
    width: 28%;
}

.openTasksHeaderDesktop ul li:nth-child(4), .openTasksBodyDesktop div ul li:nth-child(4) {
    width: 35%;
}

.openTasksHeaderDesktop ul li:nth-child(5), .openTasksBodyDesktop div ul li:nth-child(5) {
    width: 3%;
}

/* ===== MOBILE COLUMNS ===== */

.openTasksHeaderMobile ul li:nth-child(1), .openTasksBodyMobile div ul li:nth-child(1) {
    width: 30%;
}

.openTasksHeaderMobile ul li:nth-child(2), .openTasksBodyMobile div ul li:nth-child(2) {
    width: 30%;
}

.openTasksHeaderMobile ul li:nth-child(3), .openTasksBodyMobile div ul li:nth-child(3) {
    width: 35%;
}

.openTasksHeaderMobile ul li:nth-child(4), .openTasksBodyMobile div ul li:nth-child(4) {
    width: 5%;
}

.mobileTable {
    display: none;
}

.opgaveVirksomhedNavn {
    font-size: 0.65rem;
    color: #696969;
}

@media screen and (max-width: 750px) {
    .mobileTable {
        display: block;
    }

    .desktopTable {
        display: none;
    }

    /* .openTasksBodyMobile div {
        cursor: pointer;
        border-right: 4px solid #59bf1a;
    }

    .markerKlarTilUddelegering {
        border-right: 4px solid orange!important;
    } */
}