.tabelHeader {
    font-family: OmnesBold;
}

.opgaveListe h2 {
    margin-top: 40px;
}

.opgaveIdMarker {
    position: absolute;
    top: 50%;
    left: -14px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    aspect-ratio: 1/1;
    background: #3c5a3f;
    color: #fff;
    font-family: OmnesBold;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.opgaveTabel {
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
    background: #e7eae7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.opgaveHeader {
    background: #3c5a3f;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.opgaveHeader ul {
    padding: 12px 15px 12px 25px;
    max-width: 100%;
}

.opgaveHeader ul, .opgaveBody ul {
    display: flex;
    gap: 10px;
}

.opgaveHeader ul li {
    color: #fff;
    list-style-type: none;
    font-family: OmnesBold;
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.opgaveBody ul li {
    list-style-type: none;
    font-size: clamp(0.7rem, 1vw, 1rem);
    display: flex;
    align-items: center;
}

.opgaveListing {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 25px;
    cursor: pointer;
    max-width: 100%;
}

.opgaveListing:hover {
    background: #3c5a3f10!important;
}

.opgaveListing .chevronRight {
    transition: 0.2s ease;
    opacity: 0;
    transform: translateX(-5px);
}

.opgaveListing:hover .chevronRight {
    transform: translateX(0px);
    opacity: 1;
}

.opgaveListing ul {
    flex: 100%;
}

.opgaveListing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3%;
    width: 94%;
    height: 1px;
    background: #3c5a3f30;
}

.opgaveListing:first-child::before {
    height: 0px;
}

.activeOpgaveListing {
    background: #59bf1a;
    color: #fff;
}

button.button {
    border-radius: 5px;
    border: none;
    background: #3c5a3f;
    color: #fff;
    padding: 4px 10px;
    flex: 7%;
    cursor: pointer;
    transition: 0.2s ease;
}

.button:hover {
    background: #57bf23;
}

.link {
    display: flex;
    flex: 7%;
    text-decoration: none;
}

.loadingSubmission {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsisThreeLines {
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* maks 3 linjer */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.noResults {
    padding: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .tabelHeader {
        font-size: 1rem;
        color: black;
        text-align: left;
    }

    .opgaveHeader ul {
        max-width: 100%; /* This value accomodates for the missing button in the OpgaveBody on mobile devices */ 
    }
}