.modal {
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    position: fixed;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    z-index: 10000;
    min-width: 400px;
    width: 80vw;
    max-width: 700px;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    will-change: transform;
}

.overlay {
    position: fixed;
    top: calc(-1 * env(safe-area-inset-top, 0px));
    left: calc(-1 * env(safe-area-inset-left, 0px));
    right: calc(-1 * env(safe-area-inset-right, 0px));
    bottom: calc(-1 * env(safe-area-inset-bottom, 0px));
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    will-change: opacity;
    overscroll-behavior: none!important;
}

.lukModal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background: rgba(193, 26, 57, 0.25);
    color: rgba(193, 26, 57, 1);
    cursor: pointer;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.lukModal:active {
    transform: scale(0.94);
}

.lukModal img {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 750px) {
    .modal {
        width: 100vw;
        min-width: 0;
        max-width: 100vw;
        max-height: 85vh;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: auto;
        top: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        bottom: 0px;
        overscroll-behavior: contain!important;
    }
}

