h1.heading {
    margin-bottom: 50px;
    font-family: OmnesBold;
}

@media screen and (max-width: 750px) {
    h1.heading {
        display: none;
    }
}

@media screen and (display-mode: standalone) {
    h1.heading {
        display: none;
    }
}