.arbejdsPræferencerSektion h2 {
    margin-bottom: 14px;
}

.arbejdsPræferencerKnapperDiv {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    /* padding: 10px 20px; */
    margin-bottom: 20px;
    overflow: hidden;
}

.arbejdsPræferencerKnap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    transition: 0.2s ease;
    cursor: pointer;
    border-bottom: 1px solid #22222220;
}

.arbejdsPræferencerKnap:last-child {
    border-bottom: none;
}

.arbejdsPræferencerKnap:hover {
    background: #f0f0f0;
}

.arbejdsPræferencerKnap:hover .arbejdsPræferencerKnapGraaInfoBoks {
    border: 1px solid #59bf1a;
}

.arbejdsPræferencerKnapEndDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.arbejdsPræferencerKnapGraaInfoBoks {
    background: #f0f0f0;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    font-size: 14px;
    border: 1px solid #22222230;
}

.arbejdsPræferencerKnap h3 {
    font-family: "OmnesBold"
}



.profilHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.profilBillede {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.profilInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.profilInfo h1 {
    margin-bottom: 0px;
}

.profilInfo p {
    font-style: italic;
    color: #a9a9a9;
    font-size: 0.9rem;
}

.statistikSektion {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 40px;
}

.statistikSektion h2 {
    margin-bottom: 0px;
}

.boxFrame {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.opgaverStatistik {
    border-right: 1px solid #e0e0e0;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
}

.ratings {
    flex: 1;
    gap: 5px;
}

.statistikItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.statistikItem b {
    font-size: 1.6rem;
    font-family: "OmnesBold"
}

.statistikItem p {
    font-size: 0.85rem;
}

.statistikSektionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.statistikButtonsDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.statistikButton {
    white-space: nowrap;
    background: #f0f0f0;
    border: 1px solid #22222230;
    font-family: Omnes;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 12px;
    transition: 0.2s ease;
    color: #222222;
    display: flex;
    align-items: center;
    gap: 0px;
}

.activeStatistikButton {
    background: #59bf1a30;
    color: #59bf1a;
    border: 1px solid #59bf1a;
}

.statistikButton:hover {
    border: 1px solid #59bf1a;
}

.ratings {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    color: #c8c8c8; /* grå (tailwind gray-400) */
    transition: transform 0.2s ease, color 0.2s ease;
}

.icon.full {
    color: #59bf1a; /* gul (tailwind yellow-400/500) */
    fill: #59bf1a90;
}

.ratingStarsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.ratingsHeaderDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3px;
}

.ratingsHeaderDiv p {
    font-size: 0.85rem;
}

.pageContent {
    max-width: 600px;
}

.personligInfo {
    margin-top: 50px;
}

.miniheading {
    font-family: OmnesBold;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.label {
    font-family: OmnesBold;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 5px;
}

.navn {
    font-family: OmnesBold;
}

.titel {
    font-size: 0.8rem!important;
}

.infoListe {
    margin-top: 20px;
}

.infoListeElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.personligInfoBox {
    display: flex;
    flex-direction: column;
    gap: 0px;
    background: #f0f0f0;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text {
    font-size: 0.9rem;
}

.marginTop10 {
    display: block;
    margin-top: 10px;
}

.subPersonligInfo {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 6px;
    border-left: 1px solid rgba(0, 0, 0, 0.15)
}

.button {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    background: none;
    border: 1px solid #3c5a3f;
    cursor: pointer;
    color: #333333;
    transition: 0.2s ease
}

.button:hover {
    background: #59bf1a;
    color: #fff;
    border: 1px solid #59bf1a;
}



.newButton {
    background: #f0f0f0;
    border: 1px solid #22222230;
    font-family: Omnes;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 15px;
    transition: 0.2s ease;
    color: #222222;
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 10px;
}

.newButton:hover {
    background: #e9e9e9;
    border: 1px solid #222222;
}

.præferencer {
    margin-top: 50px;
}

.modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 40px;
    position: fixed;
    background: white;
    animation: fade-in 0.35s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    z-index: 30;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-40%); /* Slightly offset for a subtle movement effect */
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

.afmeldPush {
    background: rgba(193, 26, 57, 0.25)!important;
    color: rgba(193, 26, 57, 1);
}

.tilmeldPush {
    background: #59bf1a25;
    color: #59bf1a;
    border: 1px solid #59bf1a;
}

@keyframes fade-in-no-movement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    animation: fade-in-no-movement 0.20s ease;
}

.lukModal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background: rgba(193, 26, 57, 0.25);
    color: rgba(193, 26, 57, 1);
    cursor: pointer;
}

.modalHeading {
    font-family: OmnesBold;
    margin-bottom: 20px;
    padding-right: 30px;
}

.modalInput {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modalInput:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.buttonFullWidth {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: none;
    background: #3c5a3f;
    cursor: pointer;
    color: #fff;
    font-family: OmnesBold;
    transition: 0.2s ease
}

.buttonFullWidth:hover {
    background: #59bf1a;
}

.marginBottom10 {
    display: block;
    margin-bottom: 10px;
}

.listItem {
    list-style-type: none;
    margin-left: 10px;
}

.nytKodeordForm {
    margin-top: 20px;
}

.timeSelectorDiv {
    display: flex;
    flex-direction: row;
    max-height: 100px;
    gap: 20px;  
}

.simulateModalInput {
    width: 100%;
    border-radius: 45px;
    margin-bottom: 20px;
    font-family: Omnes;
    border: none;
    transition: 0.2s ease;
    overflow: hidden;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.timeInputLabel {
    width: 100%;
    margin-bottom: -20px;
}

.ledigTidDisplay {
    width: 100%;
    padding: 25px 25px;
    border: 1px solid #59bf1a;
    background: #59bf1a20;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ledigTidBeskrivelse {
    position: absolute;
    background: rgba(255,255,255.0.1);
    font-size: 0.7rem;
    border: 1px solid #59bf1a50;
    top: -0.6rem;
    padding: 2px 10px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    color:#3c5a3f
}

.ledigTidSlet {
    position: absolute;
    background: rgba(193, 26, 57, 0.15);
    font-size: 0.7rem;
    border: 1px solid rgba(193, 26, 57, 0.35);
    top: -0.6rem;
    right: 40px;
    padding: 2px 10px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    color: rgba(193, 26, 57, 0.85);
    cursor: pointer;
    transition: 0.2s ease;
}

.ledigTidSlet:hover {
    border: 1px solid rgba(193, 26, 57, 1);
    color: rgba(193, 26, 57, 1);
}

.opgaveCard {
    padding: 10px 20px;
    border-radius: 25px;
    background:#3c5a3f;
    color: white;
    position: relative;
    height: 50px;
    cursor: pointer;
}

.opgaveCardIkon {
    font-size: 20px;
    background: white;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    max-width: 40px;
    width: 40px;
    max-height: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.opgaveCardName {
    font-family: OmnesBold;
    font-size: 0.9rem;
    margin-bottom: -5px;
    display: block;
}

.opgaveCardTime {
    font-size: 0.7rem;
    color: #fff;
    margin-left: 10px;
}

.sletBesøg {
    margin-left: 30px;
    background: none;
    border: none;
    font-family: OmnesBold;
    font-size: 0.8rem;
    cursor: pointer;
}

.switcherDiv {
    margin-top: 5px;
}

/* switcher styles */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 17px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #59bf1a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #59bf1a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  .slider:before {
    border-radius: 50%;
  }

@media screen and (max-width: 750px) {
    .heading {
        display: none;
    }

    .infoListe {
        margin-top: 0px;
    }

    .personligInfo {
        margin-top: 30px;
    }

    .personligInfoBox {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .pageContent {
        padding-top: 40px;
    }

    .boxFrame {
        flex-direction: column;
        gap: 30px;
    }

    .opgaverStatistik {
        border-right: none;
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        width: 100%;
        border-bottom:1px solid #e0e0e0;
    }

    .statistikItem {
        gap: 0px;
    }

    .statistikItem b {
        font-size: 1.2rem;
    }

    .pageContent h2 {
        font-size: 1.2rem;
    }

    .arbejdsPræferencerKnap h3 {
        font-size: 1rem;
        font-family: "Omnes";
    }

    .arbejdsPræferencerKnapEndDiv {
        flex-direction: column;
    }
}