.teamContainer {
    overflow-x: hidden;
    padding-bottom: 200px;
}

.adminDiv, .medarbejdereDiv {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
}

.subheading {
    margin-bottom: 15px;
    font-family: OmnesBold;
    display: block;
    width: 300px;
    border-bottom: 1px solid #33333330;
    padding-bottom: 5px;
}

.cardHolder {
    display: flex;
    gap: 20px;

}

.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px 16px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-family: OmnesBold;
    font-size: 1.1rem;
}

.contactInfo {
    font-size: 0.9rem;
}

.italics {
    font-style: italic;
    display: block;
    font-size: 0.7rem;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.links {
    transition: 0.2s ease;
}

.links:hover {
    color: #59bf1a;
}

.kundeKontaktMobile {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    justify-content: space-between;
    border-bottom: 1px solid #33333330;
    border-top: 1px solid #33333330;
    padding-bottom: 10px;
    padding-top: 10px;
}

.kundeKontaktMobile a.link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: #59bf1a28;
    color: #59bf1a;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: OmnesBold;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(89,191,26,0.55) 0px 0px 0px 1px;
    position: relative;
}

.kundeKontaktMobile a.link span {
    position: absolute;
    bottom: -120%;
    left: 50%;
    padding: 5px 10px;
    width: auto;
    height: auto;
    background-color: #00000080;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: OmnesBold;
    font-size: 0.8rem;
    border-radius: 10px;
    opacity: 0;
    transition: 0.2s ease;
    transform: translateY(-10%) translateX(-50%);
    pointer-events: none;
}

.kundeKontaktMobile a.link:hover span {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
}

.kundeKontaktMobile a.link img {
    width: 20px;
    height: 20px;
}

.button {
    background-color: #fff;
    color: #3c5a3f;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: OmnesBold;
    font-size: 0.8rem;
    border: 1px solid #3c5a3f;
    cursor: pointer;
    width: 100%;
    transition: 0.2s ease;
}

.button:hover {
    background-color: #59bf1a;
    color: #fff;
    border: 1px solid #59bf1a;
}

.infoText {
    font-size: 0.8rem;
    margin-top: 10px;
    display: none;
}

.flereMedarbejderDetaljer {
    margin-top: 10px;
}

@media screen and (max-width: 750px) {
    .heading {
        display: none;
    }

    .infoText {
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (display-mode: standalone) {
    .heading {
        display: none;
    }

    .cardHolder {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 35px;
        gap: 20px;
        margin-left: -35px;
        margin-right: -35px;
        scrollbar-width: none;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        overflow: -moz-scrollbars-none;  /* Firefox */
    }

    .cardHolder::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .card {
        width: auto;
    }

    .contactInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .kundeKontaktMobile a.link span {
        display: none;
    }
}