.adresseHeading {
    font-family: OmnesBold;
    margin-bottom: 10px;
}

.kortLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
    background-color: #3c5a3f;
    padding: 8px 20px;
    border-radius: 10px;
    font-family: "OmnesBold";
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.kortLink:hover {
    color: #fff;
    background: #3c5a3f;
}

.tilbageKnap {
    height: 1.6rem;
    width: 1.6rem;
    margin-top: -5px;
    cursor: pointer;
}

.tilbageOpgaveSektion {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    max-width: 800px;
}

.headerContainer {
    min-width: 500px;
}

.opgaveContainer {
    margin-top: 30px;
    max-width: 800px;
}

.label {
    font-family: OmnesBold;
    display: block;
    font-size: 0.9rem;
    margin-left: 10px;
    margin-bottom: 5px;
}

.prefix {
    font-family: OmnesBold;
    font-size: 0.9rem;
}

.postfix {
    font-family: Omnes;
    font-size: 0.9rem;
}

.opgavebeskrivelse {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    height: 200px;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
}

.opgavebeskrivelse:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.opgavestatus {
    width: 100%;
    border-radius: 10px;
    padding: 4px 15px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    appearance: none;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
}

.opgavestatus:focus {
    outline: none;
}

.kolonner {
    display: flex;
    gap: 50px;
}

.oprettetUdførtContainer {
    display: flex;
    gap: 30px;
}

.kundeinformationer {
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #1f1f1f30;
    border-bottom: 1px solid #1f1f1f30;
}

.marginTop10 {
    margin-top: 10px;
}

.link {
    transition: 0.2s ease;
}

.link:hover {
    color: #59bf1a;
}

.uddelegeringDesktop {
    display: flex;
    gap: 50px;
    justify-content: start;
    margin-bottom: 30px;
}

.praktisk {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #1f1f1f30;
}

.ansvarshavendeListe {
    width: 50%;
}

.tildelAnsvarligeForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.ansvarlige {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.closeIcon {
    width: 15px;
    height: 15px;
}

.tildelAnsvarlige {
    width: 100%;
    border-radius: 15px;
    padding: 4px 15px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    appearance: none;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
}

.fjernAnsvarlig {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background: rgba(193, 26, 57, 0.25);
    color: rgba(193, 26, 57, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}

.fjernAnsvarlig:hover {
    transform: scale(1.1);
}

.ansvarligDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2px 2px 5px;
    border-radius: 5px 15px 15px 5px;
    transition: 0.2s ease;
}

.ansvarligDiv:hover {
    background: #f5f5f5;
}

.aktuellePosteringer {
    margin-top: 20px;
    display: flex;
    gap: 25px 10px;
    flex-wrap: wrap;
}

.posteringer {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1f1f1f30;
}

.posteringCard {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
    padding: 10px 20px;
    border-radius: 15px;
    position: relative;
    min-width: 240px;
    width: 240px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posteringCardSatsDisplay {
    width: 100%;
    max-width: 100%;
}

.posteringDato {
    font-size: 0.75rem;
    color: #33333390;
}

.posteringBruger {
    font-size: 1.2rem;
    font-family: OmnesBold;
    margin-bottom: 10px;
}

.posteringRække {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    gap: 25px;
}

.totalRække {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #1f1f1f30;
}

.totalRækkeBeskrivelse {
    font-family: OmnesBold;
}

.totalRækkeResultat {
    font-family: OmnesBold;
}

.paperclip {
    position: absolute;
    top: -15px;
    right: 22px;
    fill: green;
}

.tilføjPosteringButton {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    background: none;
    border: 2px solid #3c5a3f;
    cursor: pointer;
    color: #333333;
    transition: 0.2s ease
}

.tilføjPosteringButton:hover {
    background: #59bf1a;
    color: #fff;
    border: 2px solid #59bf1a;
}

.modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 40px;
    position: fixed;
    background: white;
    animation: fade-in 0.35s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
    border-radius: 20px;
    z-index: 30;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-40%); /* Slightly offset for a subtle movement effect */
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes fade-in-no-movement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 29;
    animation: fade-in-no-movement 0.20s ease;
}

.lukModal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background: rgba(193, 26, 57, 0.25);
    color: rgba(193, 26, 57, 1);
    cursor: pointer;
}

.modalHeading {
    font-family: OmnesBold;
    margin-bottom: 20px;
}

.modalHeading3 {
    font-family: OmnesBold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.modalHeading4 {
    font-family: OmnesBold;
    display: block;
}

.modalSubheading {
    display: block;
    font-size: 0.8rem;
    color: #33333390;
}

.udlæg {
    padding: 0px;
    margin-bottom: 20px;
}

.udlægInput {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 0px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
}

.udlægInput:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.listeOverUdlæg {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    margin-left: 5px;
}

.enkeltUdlæg {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.sletUdlægButton {
    width: 26px;
    min-width: 26px;
    max-width: 26px;
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    border-radius: 50px;
    border: none;
    background: rgba(193, 26, 57, 0.25);
    color: rgba(193, 26, 57, 1);
    cursor: pointer;
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sletUdlægButton img {
    height: 14px;
    width: 14px;
}

.udlægBeskrivelse {
    width: 60%;
}

.udlægBeløb {
    width: 25%;
}

.modalForm {
    display: flex;
    flex-direction: column;
}

.modalInput {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
}

.modalInput:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.modalInput2 {
    width: 100%;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
}

.modalInput2:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.modalKolonner {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
}

.tilføjUdlægButton {
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #3c5a3f;
    margin-top: 10px;
    margin-bottom: 10px;
    background: none;
    cursor: pointer;
    color: #3c5a3f;
    transition: 0.2s ease
}

.tilføjUdlægButton:hover {
    background: #59bf1a;
    border: 2px solid #59bf1a;
    color: white;
}

.registrerPosteringButtonDesktop, .registrerPosteringButtonMobile {
    padding: 14px 20px;
    border-radius: 15px;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #3c5a3f;
    cursor: pointer;
    font-family: OmnesBold;
    color: #fff;
    transition: 0.2s ease
}

.registrerPosteringButtonDesktop:hover, .registrerPosteringButtonMobile:hover {
    background: #59bf1a;
}

.registrerPosteringButtonMobile {
    display: none;
}



.inlineButton {
    cursor: pointer;
    transition: 0.2s ease;
    color: #59bf1a;
    font-family: OmnesBold;
}

.redigerKundeButtonDesktop {
    border: none;
    background: none;
    cursor: pointer;
    font-family: Omnes;
    color: #59bf1a;
    transition: 0.2s ease;
    transform: translateY(-4px);
    margin-top: 20px;
}

.kommentarListe {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.kommentar {
    border-radius: 15px;
    background: #3c5a3f17;
    padding: 10px 13px;
    position: relative;
}

/* .kommentar::after {
    content: '';
    height: 14px;
    width: 14px;
    background: #fff;
    position: absolute;
    bottom: -14px;
    left: 3px;
    border-radius: 100px 0px 100px 100px;
}

.kommentar::before {
    content: '';
    height: 14px;
    width: 14px;
    background: #3c5a3f30;
    position: absolute;
    bottom: -14px;
    left: 14px;
    border-radius: 21% 79% 100% 0% / 77% 0% 100% 23% 
} */

.kommentarHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.kommentarForfatter {
    font-family: OmnesBold;
    font-size: 0.9rem;
}

.kommentarDato {
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: #33333360;
}

.kommentarIndhold {
    font-size: 0.9rem;
}

.nyKommentar {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    height: 70px;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.18) 0px 0px 0px 1px;
}

.nyKommentar:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.kommentarKnapper {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    padding-left: 20px;
}

.posteringKnapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    gap: 15px;
    margin-top: 5px;
    opacity: 1;
    transition: 0.6s ease 0.45s;
}

.posteringKnapper.posteringKnapperFadeOut {
    opacity: 0;
    transition: 0.2s ease;
}

.posteringKnapper > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.kommentarKnap {
    font-size: 0.8rem;
    border: none;
    background: none;
    cursor: pointer;
    font-family: OmnesBold;
}

.posteringKnap {
    font-size: 0.8rem;
    border: none;
    background: none;
    cursor: pointer;
    font-family: OmnesBold;
    color: #222222;
    display: flex;
    align-items: center;
    gap: 5px;
}

.posteringSwitchKnap {
    height: 16px;
    width: 16px;
}

.kommentarRegigeretMarkør {
    font-size: 0.8rem;
    color: #33333380;
}

.redigerKommentarInput {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    height: 80px;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.redigerKommentarInput:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.markerSomFærdigKnap {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    margin-top: 20px;
    font-family: OmnesBold;
    background: #3c5a3f;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease
}

.markerSomFærdigKnap:hover {
    background: #59bf1a;
}

.posteringCheckbox {
    margin-right: 10px;
}

.opstartsgebyrDiv {
    margin-bottom: 20px;
    margin-top: 10px;
}

.posteringBeskrivelse {
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 0.9rem;
}

.posteringListe {
    padding-top: 5px;
    border-top: 1px solid #33333330;
}

.sletPosteringKnap {
    font-size: 0.8rem;
    border: none;
    background: none;
    cursor: pointer;
    font-family: OmnesBold;
    margin-left: 20px;
}

.færdigOpgaveDiv {
    margin-top: 20px;
    font-family: OmnesBold;
}

.kortLinkContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.genåbnButton {
    padding: 10px 20px;
    border-radius: 15px;
    font-family: OmnesBold;
    margin-top: 20px;
    background: none;
    border: 2px solid #3c5a3f;
    cursor: pointer;
    color: #333333;
    transition: 0.2s ease;
    width: 50%;
}

.genåbnButton:hover {
    background: #59bf1a;
    color: #fff;
    border: 2px solid #59bf1a;
}

.informerKundenOmPåVej {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: #59bf1a;
    font-size: 1rem;
    background: none;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-left: 1px solid #22222240;
    cursor: pointer;
}

.smsSendtTekst {
    font-size: 1rem;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-left: 1px solid #22222240;
}

.påmindOmOpgave {
    margin-top: 10px;
}

.påmindOmOpgaveKnapper {
    padding-top: 5px;
    display: flex;
    gap: 10px;
}

.påmindOmOpgaveKnap {
    padding: 2px 6px;
    border-radius: 15px;
    font-family: Omnes;
    background: #59bf1a;
    color: #fff;
    border: 1px solid #59bf1a;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.afslutButton {
    padding: 10px 20px;
    border-radius: 15px;
    font-family: OmnesBold;
    margin-top: 20px;
    background: #3c5a3f;
    border: 2px solid #3c5a3f;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease;
    margin-left: 10px;
}

.afslutButton:hover {
    background: #59bf1a;
    color: #fff;
    border: 2px solid #59bf1a;
}

.statusTekstVedFærdiggjort {
    font-family: Omnes;
    font-size: 0.9rem;
}

.færdiggjortOpgavebeskrivelse {
    margin-bottom: 30px;
}

.startBetalingButton {
    padding: 12px 20px;
    border-radius: 15px;
    font-family: OmnesBold;
    margin-top: 15px;
    background: #3c5a3f;
    border: 2px solid #3c5a3f;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
}

.startBetalingButton span {
    display: block;
    color: #fff;
    font-size: 0.8rem;
}

.startBetalingButton:hover {
    background: #59bf1a;
    color: #fff;
    border: 2px solid #59bf1a;
}

.betalFakturaButton {
    padding: 10px 20px;
    border-radius: 15px;
    font-family: OmnesBold;
    margin-top: 20px;
    background: #3c5a3f;
    border: 2px solid #3c5a3f;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
}

.betalFakturaButton:hover {
    background: #59bf1a;
    color: #fff;
    border: 2px solid #59bf1a;
}

.opretFaktura {
    padding: 10px 20px;
    border-radius: 15px;
    font-family: OmnesBold;
    margin-top: 0px;
    background: #3c5a3f;
    border: 2px solid #3c5a3f;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease;
    width: 100%;
}

.opretFaktura:hover {
    background: #59bf1a;
    color: #fff;
    border: 2px solid #59bf1a;
}

.økonomiDiv {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1f1f1f30;
}

.regnskabContainer {
    margin-top: 20px;
    width: 60%;
}

.regnskabRække {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.subtotalRække {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top: 1px solid #1f1f1f30; */
}

.totalFakturaRække {
    background: #59bf1a25;
    border-radius: 10px;
}

.totalHonorarRække {
    background: #ff000015;
    border-radius: 10px;
}

.subtotalHonorar {
    font-family: OmnesBold;
    font-size: 0.9rem;
    color: black;
}

.subtotalFaktura {
    font-family: OmnesBold;
    font-size: 0.9rem;
    color: black;
}

.regnskabTekst {
    font-size: 0.9rem;
}

.dækningsbidragRække {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top: 1px solid #1f1f1f30; */
    background: #59bf1a35;
    border: 1px solid #59bf1a;
    border-radius: 10px;
}

.bottomMargin10 {
    margin-bottom: 10px;
    display: block;
}

.grønTekst {
    color: rgba(89, 191, 26, 1);
}

.rødTekst {
    color: rgba(255, 84, 84);
}

.sortTekst {
    color: black!important;
}

.calendarDiv {
    display: flex;
    gap: 20px;
}

.dayDetail {
    width: 50%;
    position: relative;
    padding-left: 20px;
    padding-top: 22px;
}

.dayDetail::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    top: 15%;
    left: 0;
    background: rgba(0, 0, 0, 0.15)
}

.bottomMargin20 {
    display: block;
    margin-bottom: 20px;
}

.ledigeMedarbejdere {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    max-height: 250px;
    overflow-Y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ledigTidDisplay {
    width: 100%;
    padding: 25px 25px;
    border: 1px solid #59bf1a;
    background: #59bf1a20;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 10px;
}

.ledigTidBeskrivelse {
    position: absolute;
    background: rgba(255,255,255.0.1);
    font-size: 0.7rem;
    border: 1px solid #59bf1a50;
    bottom: -0.7rem;
    padding: 2px 10px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    color:#3c5a3f
}

.ledigTidMedarbejder {
    position: absolute;
    background: rgba(255,255,255.0.1);
    font-size: 0.7rem;
    border: 1px solid #59bf1a50;
    top: -0.63rem;
    padding: 2px 10px;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    color:#3c5a3f
}

.visUddelegeringskalender {
    background: none;
    border: none;
    color: #59bf1a;
    cursor: pointer;
}

.planDiv {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1f1f1f30;
}

.opgaveBesøgDiv {
    display: flex;
    align-items: stretch;
    gap: 30px;
}

.opgavebesøgDates {
    width: 50%;
    flex-grow: 1;
}

.opgavebesøgDetaljer {
    width: 50%;
    padding-top: 20px;
    padding-left: 20px;
    border-left: 1px solid #1f1f1f30;
    flex-grow: 1;
}

.formFlex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.opgaveListevisning {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opgaveCard {
    padding: 10px 20px;
    border-radius: 25px;
    background:#3c5a3f;
    color: white;
    position: relative;
    height: 50px;
}

.opgaveCardContainer {
    margin-bottom: 10px;
}

.greyedOpgaveCard {
    padding: 10px 20px;
    border-radius: 25px;
    background:#3c5a3f;
    color: white;
    position: relative;
    height: 50px;
    opacity: 0.5;
    margin-bottom: 10px;
    transition: 0.2s ease;
    cursor: pointer;
}

.greyedOpgaveCard:hover {
    opacity: 1;
}

.opgaveCardIkon {
    font-size: 20px;
    background: white;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    max-width: 40px;
    width: 40px;
    max-height: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.opgaveCardName {
    font-family: OmnesBold;
    font-size: 0.9rem;
    margin-bottom: -5px;
    display: block;
}

.opgaveCardTime {
    font-size: 0.7rem;
    color: #fff;
    margin-left: 10px;
}

.sletBesøg {
    margin-left: 30px;
    background: none;
    border: none;
    font-family: OmnesBold;
    font-size: 0.8rem;
    cursor: pointer;
}

.boldFont {
    font-family: OmnesBold;
}

.dateHeading {
    font-size: 1.4rem;
}

.kundeKontaktMobile {
    display: none;
}

.opgavestatusContainerDesktop {
    display: block;
}

.opgavestatusContainerMobile {
    display: none;
}

.uddelegeringMobile {
    display: none;
}

.udlægKvitteringInputContainer {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>') no-repeat center center;
    background-size: 50%;
    background-color: #59bf1a;
    z-index: 10;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.udlægKvitteringInput {
    display: none;
}

.udlægKvitteringImg {
    width: 35px;
    height: 55px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.8) 0px 0px 0px 1px;
}

.kvitteringBillederListe {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1px;
}

.kvitteringBillede {
    width: 35px;
    height: 55px;
    border-radius: 3px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
}

.bold {
    font-family: OmnesBold;
}

.bekræftIndsendelseDiv {
    margin-bottom: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #1f1f1f30;
    border-bottom: 1px solid #1f1f1f30;
}

.spar50KrTekst {
    font-family: Omnes;
    font-weight: 300;
    font-size: 0.9rem;
}

.sletOpgave {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    color: #FF0000;
    border-radius: 10px;
    font-family: OmnesBold;
    font-size: 0.9rem;
    transition: 0.2s ease;
    border: 1px solid transparent;
    background: none;
    background-color: #FF000030;
    cursor: pointer;
}

.sletOpgave:hover {
    border: 1px solid #FF0000;
}

.slettetOverstregning {
    text-decoration: line-through;
}

.backArrow {
    cursor: pointer;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 50px;
    transition: 0.2s ease;
}

.backArrow:hover {
    background: #59bf1a
}

.billedModalHeader {
    display: flex;
    gap: 20px;
}

.genåbnOpgave {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    color: #59bf1a;
    border-radius: 15px;
    font-family: OmnesBold;
    font-size: 0.9rem;
    transition: 0.2s ease;
    border: 1px solid transparent;
    background: none;
    background-color: #59bf1a40;
    cursor: pointer;
}

.genåbnOpgave:hover {
    border: 1px solid #59bf1a;
}

.fakturaDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.privatEllerErhvervskunde {
    font-size: 0.8rem;
    color: #696969;
}

.kundeHeadingContainer {
    position: relative;
}

.redigerKundeButtonMobile {
    display: none;
}

.adresseTekst {
    font-size: 0.8rem;
    margin-top: 5px;
}

.virksomhedInfo {
    display: inline-flex;
    flex-direction: column;
    gap: 0px;
    background: #f0f0f0;
    padding: 10px 60px 10px 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.virksomhedHeading {
    margin-bottom: 5px;
}

.virksomhedTekst {
    font-size: 0.8rem;
}

.opgaveØkonomiGreenSubheading {
    font-size: 0.8rem;
    color: #59bf1a;
    margin-top: -10px;
    margin-bottom: 10px;
}

.opgaveØkonomiRedSubheading {
    font-size: 0.8rem;
    color: #FF0000;
    margin-top: -10px;
    margin-bottom: 10px;
}

.posteringSwitchers {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 30px;
}

.dynamiskFastButtonsDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dynamiskFastButton {
    padding: 10px 20px;
    border-radius: 10px;
    background: #e9e9e9!important;
    border: 1px solid #22222200;
    cursor: pointer;
    background: #fefefe;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;
    color: #222222;
}

.dynamiskFastButtonActive {
    background: #59bf1a30!important;
    border: 1px solid #59bf1a;
}

.dynamiskFastButton:hover {
    border: 1px solid #222222;
}

.dynamiskFastButton img {
    width: 15px;
    height: 15px;
}

.rabatInputDiv {
    margin-top: -10px;
}

.rabatButtonsDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.rabatButton {
    padding: 10px 20px;
    border-radius: 10px;
    background: #e9e9e9!important;
    border: 1px solid #22222200;
    cursor: pointer;
    background: #fefefe;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;
    color: #222222;
}

.rabatButtonActive {
    background: #59bf1a30!important;
    border: 1px solid #59bf1a!important;
}

.rabatButton:hover {
    border: 1px solid #222222;
}

.rabatButton img {
    width: 15px;
    height: 15px;
}

.overstregetPreview {
    text-decoration: line-through;
    color: #909090;
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 10px;
}

.previewHonorarTotal {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.previewTotalPostering {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #1f1f1f30;
    bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    padding-top: 20px;
}

.ikkeAfsluttetButtonsDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -6px;
}

.infoLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    background: #f0f0f0;
    padding: 10px 10px 10px 20px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.infoLineFaktura {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    background: #f0f0f0;
    padding: 10px 10px 10px 20px;
    border-radius: 15px;
    margin-bottom: 5px;
}

/* The parent needs to hold the flipped content */
.posteringFlipContainer {
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 320px;
    display: flex;
}

/* The element that flips */
.posteringFlipper {
    position: relative;
    width: 240px;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.6s;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.flipped {
    transform: rotateY(180deg);
}

/* front/back each fill the container */
.posteringFront,
.posteringBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.posteringBack {
transform: rotateY(180deg);
}

.posteringFront .posteringCard {
        background: #3c5a3f;
        border: 1px solid #22222299;
}

.posteringFront .posteringCard * {
    color: white;
}

.posteringFront .posteringListe {
    border-top: 1px solid #ffffff50;
}

.posteringFront .totalRække {
    border-top: 1px solid #ffffff50;
}

.dækningsbidragPill {
    position: absolute;
    top: -13px;
    right: 20px;
    border-radius: 20px;
    background: #cdebba;
    border: 1px solid #59bf1a;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    padding: 0 10px;
    transition: 0.2s ease;
    opacity: 0;
}

.dækningsbidragPill p {
    font-family: OmnesBold;
    color: #222222!important;
}

.dækningsbidragPillActive {
    opacity: 1;
    transition: 0.2s ease 0.5s;
}

.åbnFakturaButton {
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #3c5a3f;
}

.kvitteringBilledeStort {
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.kommentarFlexDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.kommentarFlexDiv textarea {
    width: 90%;
    max-width: 90%;
}

.kommentarFlexDiv button {
    min-width: 90px;
    max-width: 15%;
    height: 70px;
    background: #3c5a3f;
    color: white;
    border-radius: 30px;
    border: none;
    font-family: "OmnesBold";
    transition: 0.2s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.kommentarFlexDiv button:hover {
    background: #59bf1a;
}

.kommentarFlexDiv button:disabled {
    background: lightgrey;
    cursor: default;
}

.subheadingTextButton {
    color: #222222;
    background: #e9e9e9;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    border: 1px solid #f0f0f0;
    transition: 0.2s ease;
    cursor: pointer;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.subheadingTextButton:hover {
    border: 1px solid #222222;
}

.subheadingTextButton img {
    height: 15px;
    width: 15px;
}

.modalHeadingFlexContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.subheadingTextButtonActive {
    border: 1px solid #59bf1a;
    background: #59bf1a30;
}

.subheadingTextButtonActive:hover{
    border: 1px solid #59bf1a;
}

.infoPillsDiv {
    display: flex;
    padding: 0px 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    transform: translateX(-20px);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.infoPillsDiv::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.infoPillsDiv div {
    font-size: 0.8rem;
    border-radius: 50px;
    padding: 0px 12px;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    background: #f0f0f0;
    border: 1px solid #22222230;
    display: flex;
    align-items: center;
    justify-content: center;
}

.harIkkeStige {
    border: 1px solid #FF0000!important;
    background: #FF000015!important;
}

.harStige {
    border: 1px solid #59bf1a!important;
}

.fileInput {
    border: 1px dashed #3c5a4080;
    color: grey;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Omnes;
    font-size: 0.9rem;
    text-align: center;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    width: 50px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.fileInput:hover {
    border-color: #59bf1a;
    color: #59bf1a;
    box-shadow: 0 0 10px rgba(89, 191, 26, 0.2);
}

.fileInput:focus {
    border-color: #59bf1a;
    box-shadow: 0 0 10px rgba(89, 191, 26, 0.4);
    outline: none;
}

.fileInput.dragover {
    border-color: #59bf1a;
    background-color: #e6ffe6;
}

.billederDiv {
    display: flex;
    flex-direction: row;
    /* overflow-x: auto; */
    gap: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    flex-wrap: wrap
}

.uploadetBillede {
    border: 1px solid #c9c9c9;
    color: grey;
    border-radius: 10px;
    width: 50px;
    height: 70px;
    padding: 0;
    position: relative;
    overflow: visible;
    cursor: pointer;
}

.imagePreview {
    height: 100%;
    width: 48px;
    object-fit: cover;
    border-radius: 9px;
}

.deleteButton {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    height: 24px;
    width: 24px;
    border: 1px solid #FF000000;
    background: #ffbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -12px;
    left: 12px;
    color: #FF0000;
    border-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
    transform: translateY(6px);
    padding: 5px;
}

.deleteButton:hover {
    border: 1px solid #FF0000;
}

.uploadetBillede:hover > .deleteButton {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0)
}

.spinnerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* transform: translateY(-10px); */
    min-width: 50px;
}

.playVideoPlaceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease;
    flex-direction: column;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playVideoPlaceholder:hover {
    color: #59bf1a;
}


@media screen and (max-width: 750px) {

    .ansvarligDivEkstraBottomMargin:last-child {
        margin-bottom: 20px;
    }
    
    .spinnerDiv {
        width: calc(20% - 10px);
        min-width: calc(20% - 10px);
        max-width: calc(20% - 10px);
    }

    .billederDiv {
        display: flex;
        flex-direction: row;
        /* overflow-x: auto; */
        gap: 10px;
        margin-top: -10px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    .uploadetBillede {
        width: calc(20% - 8px);
        min-width: calc(20% - 8px);
        max-width: calc(20% - 8px);
        height: 90px;
    }

    .uploadetBillede:hover > .deleteButton {
        opacity: 0;
        pointer-events: none;
        transform: translateY(6px)
    }
    
    .imagePreview {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 9px;
    }

    .fileInput {
        width: calc(20% - 8px);
        min-width: calc(20% - 8px);
        max-width: calc(20% - 8px);
        height: 90px;
        margin-bottom: 0;
    }
    
    .infoPillsDiv {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
    
    .kommentarFlexDiv textarea {
        width: 80%;
    }
    
    .kommentarFlexDiv button {
        min-width: 40px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-right: 3px;
    }

    .infoLineFaktura {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        font-size: 0.9rem;
        background: #f0f0f0;
        padding: 10px 10px 10px 20px;
        border-radius: 15px;
        margin-bottom: 5px;
    }

    .åbnFakturaATag {
        display: block;
        width: 100%;
    }

    .åbnFakturaButton {
        width: 100%;
        font-family: "OmnesBold";
        font-size: 0.9rem;
    }

    .headerContainer {
        min-width: 260px;
    }

    .totalRække {
        font-size: 0.9rem;
    }
    
    .totalRækkeBeskrivelse {
        font-size: 0.9rem;
    }
    
    .redigerKundeButtonDesktop {
        display: none;
    }

    .startBetalingButton {
        width: 100%;
        justify-content: center;
        font-size: 0.9rem;
        font-family: OmnesBold;
    }
    
    .redigerKundeButtonMobile {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 15px;
        color: rgba(179,116,0,0.85);
        border-radius: 10px;
        font-family: OmnesBold;
        font-size: 0.8rem;
        transition: 0.2s ease;
        border: 1px solid transparent;
        background: none;
        background-color: #f6f9d2;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(179,116,0,0.25) 0px 0px 0px 1px;
        display: block;
    }

    .tilbageKnap {
        display: none;
    }

    .opgaveIDHeader {
        display: none;
    }

    .primærContainer {
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .opgavebeskrivelse {
        height: 180px;
    }

    .kolonner {
        flex-direction: column;
        gap: 0px;
    }

    .kundeinformationer .kolonner b.kundeHeading {
        display: block;
        font-size: 0.9rem;
    }

    .postfix {
        font-family: Omnes;
        font-weight: 300;
    }

    .kundeHeading > .postfix {
        font-size: 1.2rem;
    }

    .kundeKontaktDesktop {
        display: none;
    }

    .kundeKontaktMobile {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: start;
        margin-top: 20px;
        justify-content: center;
    }

    .kundeKontaktMobile a.link {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        min-width: 30%;
        flex-grow: 1;
        gap: 10px;
        /* padding: 8px 20px; */
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #f0f0f0;
        color: #222222;
        text-align: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        font-family: Omnes;
        font-size: 0.8rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(34,34,34,0.19) 0px 0px 0px 1px;
    }

    .kundeKontaktMobile a.link img {
        width: 20px;
        height: 20px;
    }

    .kundeKontaktMobile > .marginTop10 {
        margin-top: 0px;
    }

    .opgavestatusContainerDesktop {
        display: none;
    }

    .opgavestatusContainerMobile {
        display: block;
        margin-top: 0px;
    }

    .opgavestatus {
        height: 40px;
        padding-left: 32px;
        font-size: 0.85rem;
        font-weight: 800;
        border-radius: 10px 0px 0px 10px;
        margin-top: 0px;
        background: #3c5a3f;
        color: #fff;
        border: none;
        box-shadow: none;
        font-family: "OmnesBold"
    }

    .mobileOpgaveStatusContainer {
        display: flex;
        gap: 0;
        align-items: center;
        height: 40px;
    }

    .hiddenSelect {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
    }

    .mobileOpgaveStatusIcon {
        height: 100%;
        padding-left: 0px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: #3c5a3f;
        border-radius: 0px 10px 10px 0px;
    }

    .customSelectAnsvarligKnap {
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 100px;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4px;
        color: #222222;
        background: #f0f0f0;
        border: 1px solid #1f1f1f30;
        cursor: pointer;
    }

    .kundeinformationer {
        padding-top: 40px;
        margin-top: 30px;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .praktisk {
        padding-bottom: 40px;
        margin-bottom: 40px;
    }

    .tildelAnsvarlige {
        height: 40px;
        padding-left: 32px;
        font-size: 0.85rem;
        font-weight: 600;
        color: black;
        background: white;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .uddelegeringMobile {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .uddelegeringDesktop {
        display: none;
    }

    .ansvarshavendeListe {
        padding: 0px 32px 20px 32px;
        border: 1px solid #1f1f1f30;
        border-radius: 15px;
        width: 100%;
        position: relative;
    }

    .ansvarshavendeHeading {
        background: #fff;
        display: inline-block;
        position: absolute;
        top: -10px;
        left: 22px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .kvitteringBilledeStort {
        width: 100%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    .aktuellePosteringer {
        margin-top: 20px;
        display: flex;
        gap: 25px 10px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 25px 36px;
        width: 100vw;
        margin-left: -20px;
    }

    .aktuellePosteringer::-webkit-scrollbar {
        display: none;
    }

    .kundeInformationerContainer {
        margin-bottom: 0px!important;
    }

    .regnskabContainer {
        margin-top: 20px;
        width: 100%;
    }

    .regnskabRække {
        padding-left: 10px;
        padding-right: 10px;
    }

    .subtotalRække {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dækningsbidragRække {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .previewTotalPostering {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #1f1f1f30;
        position: sticky;
        bottom: 0px;
        padding-bottom: 0px;
        width: 100%;
        background: #ffffff;
        opacity: 1;
        margin-bottom: 0px;
    }
    
    .previewTotalPostering::after {
        content: '';
        position: absolute;
        bottom: -40px;
        width: 100%;
        height: 40px;
        background: #ffffff;
    }

    .registrerPosteringButtonDesktop {
        display: none;
    }

    .registrerPosteringButtonMobile {
        display: block;
    }
}