.bookingHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid #e0e0e0;
}

/* Mobil styling */
@media (max-width: 750px) {
    .bookingHeader {
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: -10px;
        padding: 10px 20px;
        border-bottom: none;
    }
}
  
  .progressWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 28px; /* giver plads til labels */
  }
  
  .progressBar {
    width: 100%;
    height: 4px;
    background: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progressFill {
    height: 100%;
    background: #59bf1a;
    transition: width 0.3s ease;
  }
  
  .circles {
    position: absolute;
    left: 0;
    width: 100%;
    top: -9px;
  }
  
  .circleWrapper {
    position: absolute;
    /* top: 20px; */
    /* top: 50%; */
    transform: translateX(-50%);
    text-align: center;
  }
  
  .circle {
    width: 22px;
    height: 22px;
    background: #e0e0e0;
    border-radius: 50%;
    transition: background 0.3s ease, border 0.3s ease;
    border: 2px solid #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 500;
    color: #222;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s ease;
  }
  
  .circle.active {
    background: #59bf1a;
    border-color: #59bf1a;
    color: #fff;
  }
  
  .circle.disabled {
    background: #e0e0e0;
    border-color: #e0e0e0;
    cursor: not-allowed;
    color: #7c7c7c;
    transition: 0.2s ease;
  }
  
  .circleLabel {
    margin-top: 6px;
    font-size: 12px;
    font-weight: 500;
    color: #222;
    white-space: nowrap;
    transition: 0.2s ease;
  }
  
  .circleLabel.disabled {
    color: #b0b0b0;
  }
  
  .tooltipContainer {
    position: absolute;
    transform: translateX(-50%);
    top: 6px;
  }
  
  /* Override tooltip wrapper to not affect layout */
  /* .tooltipContainer :global(.tooltipWrapper) {
    position: static;
    display: block;
  } */
  