@media screen and (max-width: 750px) {
    .kalenderContainer {
      top: calc(60px + env(safe-area-inset-top));
      z-index: 1;
      width: 100vw;
      background: #fff;
      height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 60px - 40px);
      margin-left: -10px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      position: fixed;
      overscroll-behavior: none!important;
    }   
}