@use "sass:color";

$out-of-range-color: color.scale(#333, $lightness: 40%) !default;
$out-of-range-bg-color: color.scale(#333, $lightness: 82%) !default;

$calendar-border: #cbcecb !default;
$cell-border: #cbcecb !default;

$border-color: #ccc !default;

// Each calendar segment is 1/7th.
$segment-width: 0.14286% !default;

$time-selection-color: white !default;
$time-selection-bg-color: rgba(89, 191, 26, 0.75) !default;
$date-selection-bg-color: rgba(89, 191, 26, 0.75) !default;

$event-bg: #3c5a3f !default;
$event-border: #3c5a3f !default;
$event-outline: #59bf1a !default;
$event-color: #fff !default;
$event-border-radius: 5px !default;
$event-padding: 2px 4px !default;
$event-zindex: 4 !default;

$btn-color: #fff !default;
$btn-bg: #3c5a3f !default;
$btn-border: #59bf1a !default;

$current-time-color: #59bf1a !default;

$rbc-css-prefix: rbc-i !default;

$today-highlight-bg: #59bf1a20 !default;
