.mainDiv {
    display: block;
}

.floatingActionButton {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    z-index: 101;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floatingActionButton:hover {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
}

.bold {
    font-family: OmnesBold;
}

.addNewIcon {
    height: 30px;
    width: 30px;
    transition: 0.3s ease;
    user-select: none;
}

.addNewTaskButton {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    z-index: 9;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addNewTaskButton:hover {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
}

.addNewUserButton {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    z-index: 9;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addNewUserButton:hover {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
}

.addNewCustomerButton {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    z-index: 9;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addNewCustomerButton:hover {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
}

.addLedighedButton {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    z-index: 9;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addLedighedButton:hover {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
}

.icons {
    transform: scale(1.5)
}

.modalLink {
    cursor: pointer;
    color: #59bf1a;
}

.addXText {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0.8rem;
    font-family: OmnesBold;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #59bf1a;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.addLedighedButton:hover > .addXText {
    opacity: 1;
    pointer-events: auto;
    top: 0;
    left: 0;
}

.addNewTaskButton:hover > .addXText {
    opacity: 1;
    pointer-events: auto;
    top: 0;
    left: 0;
}

.addNewUserButton:hover > .addXText {
    opacity: 1;
    pointer-events: auto;
    top: 0;
    left: 0;
}

.addNewCustomerButton:hover > .addXText {
    opacity: 1;
    pointer-events: auto;
    top: 0;
    left: 0;
}

@media screen and (max-width: 750px) {
    .mainDiv {
        display: none
    }

    .floatingActionButton {
        bottom: 25px;
    }

    .addNewTaskButton {
        bottom: 25px;
    }

    .addNewUserButton {
        bottom: 25px;
    }

    .addLedighedButton {
        bottom: 25px;
    }

    .addXText {
        opacity: 1;
        pointer-events: none;
        top: 0;
        left: 0;
    }
}

@media screen and (display-mode: standalone) {
    .floatingActionButton {
        bottom: 25px;
    }

    .addNewTaskButton {
        bottom: 25px;
    }

    .addNewUserButton {
        bottom: 25px;
    }

    .addLedighedButton {
        bottom: 25px;
    }

    .addXText {
        opacity: 1;
        pointer-events: none;
        top: 0;
        left: 0;
    }
}