.footer {
    position: absolute;
    bottom: 0;
    padding: 0px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    width: 100vw;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    min-height: 70px;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerSpan {
    display: flex;
}

.versionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.versionLink {
    text-decoration: none;
    color: #222222;
}

.versionLink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .footer {
        display: none;
    }
}

@media screen and (display-mode: standalone) {
    .footer {
        display: none;
    }
}