.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
    background: #fff;
    min-height: 80px;
    max-height: 80px;
}

.headerImg {
    width: clamp(100px, 10vw, 200px);
}

.headerUl {
    display: flex;
    gap: 30px;
    align-items: center;
}

.headerLi {
    list-style-type: none;
    cursor: pointer;
    font-size: clamp(1rem, 1.4vw, 1.6rem)
}

.mobileHeader {
    display: none;
}

.switchButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 32px;
    transform: translateY(-5px);
}

.switchButtonContainer p {
    color: #fff;
    font-size: 0.6rem;
    border-radius: 10px;
}

.switchIcon {
    margin-top: 14px;
}

.switchText {
    transition: 0.4s ease;
    opacity: 0;
    height: 0px;
    transform: translateY(8px);
  }
  
  .switchTextVisible {
    opacity: 1;
    transform: translateY(0px);
  }

@media screen and (max-width: 750px) {
    .mobileHeader {
        display: block;
    }

    .desktopHeader {
        display: none;
    }
    
    .header {
        background: #3c5a3f;
        max-height: 60px;
        min-height: 60px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: env(safe-area-inset-top, 0px);
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    .mobileNavList {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    .mobileNavHeading {
        color: #fff;
    }
    
    .backIconMobile {
        width: 20px;
    }

    .hamburgerMobile {
        width: 32px;
    }

    .backIconContainer {
        display: flex;
        min-width: 32px;
    }   
}

/* @media screen and (display-mode: standalone) {
    .mobileHeader {
        display: block;
    }

    .desktopHeader {
        display: none;
    }
    
    .header {
        background: #3c5a3f;
        min-height: 100px;
        max-height: 100px;
        padding-top: 57px;
        padding-right: 30px;
        padding-left: 30px;
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    .mobileNavList {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    .mobileNavHeading {
        color: #fff;
    }
    
    .backIconMobile {
        width: 20px;
    }

    .hamburgerMobile {
        width: 32px;
    }

    .backIconContainer {
        display: flex;
        min-width: 32px;
    }   
} */