.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: #fff;
    min-height: 80px;
    max-height: 80px;
    z-index: 2;
}

.headerImg {
    width: clamp(100px, 10vw, 200px);
}

.headerUl {
    display: flex;
    gap: 30px;
    align-items: center;
}

.headerLi {
    list-style-type: none;
    cursor: pointer;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mobileHeader {
    display: none;
}

.headerButtonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerButton {
    display: flex;
    background: #e7eae7;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    padding: 10px;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: 0.2s ease;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #22222200;
}

.headerButton:hover {
    border: 1px solid #222222;
}

.hamburgerMobileContainer {
    background: #ffffff20;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ffffff00;
    transition: 0.2s ease;
    cursor: pointer;
}

.hamburgerMobileContainer:hover {
    border: 1px solid #ffffff;
}

.switchIconContainer {
    background: #ffffff20;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ffffff00;
    transition: 0.2s ease;
    cursor: pointer;
}

.switchIconContainer:hover {
    border: 1px solid #ffffff;
}

.mobileTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center!important;
    justify-content: center;
}

.switchButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* width: 40px;
    height: 32px; */
    /* transform: translateY(-5px); */
}

.switchButtonContainer p {
    color: #ffffff;
    font-size: 0.5rem;
    border-radius: 10px;
}

.switchIcon {
    margin-top: 14px;
}

.switchText {
    transition: 0.4s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 9px);
    background: #556f58;
    padding: 0px 6px;
    border: 1px solid #677f6a;
  }
  
  .switchTextVisible {
    opacity: 1;
    transform: translateY(-50%, 1px);
  }

@media screen and (max-width: 750px) {
    .mobileHeader {
        display: block;
    }

    .desktopHeader {
        display: none;
    }
    
    .header {
        background: #3c5a3f;
        max-height: 60px;
        height: 60px;
        min-height: 60px;
        padding-right: 30px;
        padding-left: 30px;
        
        /* padding-top: env(safe-area-inset-top, 0px); */
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    .mobileNavList {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }

    .mobileNavHeading {
        color: #fff;
    }
    
    .backIconMobile {
        width: 20px;
    }

    .hamburgerMobile {
        width: 32px;
    }

    .backIconContainer {
        display: flex;
        min-width: 32px;
    }   
}

@media screen and (display-mode: standalone) {
    /* .header {
        min-height: 100px;
        max-height: 100px;
        padding-top: 57px;
    } */
}

/* === Dynamisk safe area til PWA === */
@supports (padding-top: env(safe-area-inset-top)) {
    .header {
      padding-top: env(safe-area-inset-top);
      min-height: calc(60px + env(safe-area-inset-top));
      height: calc(60px + env(safe-area-inset-top));
      max-height: calc(60px + env(safe-area-inset-top));
    }
  }