.modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 40px;
    position: fixed;
    background: white;
    animation: fade-in 0.35s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    z-index: 30;
    min-width: 400px;
    width: 80vw;
    max-width: 700px;
    overflow: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-40%); /* Slightly offset for a subtle movement effect */
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes fade-in-no-movement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    animation: fade-in-no-movement 0.20s ease;
}

.lukModal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background: rgba(193, 26, 57, 0.25);
    color: rgba(193, 26, 57, 1);
    cursor: pointer;
}

.modalHeading {
    font-family: OmnesBold;
    margin-bottom: 20px;
    padding-right: 30px;
}

.modalSubheadingContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.modalSubheadingContainer::before {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    position: absolute;
    top: -10px;
    background: #1f1f1f30;
}

.modalSubheadingContainer::after {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    position: absolute;
    bottom: -10px;
    background: #1f1f1f30;
}

.modalSubheading {
    font-family: Omnes;
    font-size: 0.9rem;
    font-weight: 300;
}

.modalInput {
    width: 100%;
    background: #fff;
    color: #222222;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-family: Omnes;
    font-size: 0.9rem;
    resize: none;
    border: none;
    transition: 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modalInput:focus {
    box-shadow: rgba(89, 191, 26, 0.16) 0px 10px 36px 0px, rgba(89, 191, 26, 0.46) 0px 0px 0px 1px;
    outline: none;
}

.buttonFullWidth {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: none;
    background: #3c5a3f;
    cursor: pointer;
    color: #fff;
    font-family: OmnesBold;
    transition: 0.2s ease
}

.buttonFullWidth:hover {
    background: #59bf1a;
}

.modalLabel {
    font-family: OmnesBold;
}

.bold {
    font-family: OmnesBold;
}

.timeInputs {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.timeInput {
    width: 45%;
}

.timeSeparator {
    font-family: OmnesBold;
    font-size: 1rem;
    width: 20px;
    height: 45px;
    display: flex;
    justify-content: center;
}

.errorMessage {
    color: red;
}

.successMessage {
    color: #59bf1a;
}

.deleteEditButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
}

.deleteButton {
    background: none;
    color: #f00;
    border: none;
    font-family: OmnesBold;
    border-radius: 5px;
    cursor: pointer;
}

.editButton {
    background: none;
    color: #59bf1a;
    border: none;
    font-family: OmnesBold;
    border-radius: 5px;
    cursor: pointer;
}

.modalLink {
    cursor: pointer;
    color: #59bf1a;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

@media screen and (max-width: 750px) {
    .modal {
        width: 90vw;
        min-width: 0;
        max-width: 90vw;
        max-height: 75vh;
        overflow-y: auto;
        margin-top: 5vh;
    }

    .buttonFullWidth {
        font-size: 0.9rem;
        font-weight: 600;
    }
}