.adminØkonomiContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    overflow: hidden;
}

.adminØkonomiHeadings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #fff;
    background: #3c5a3f;
    padding: 10px 20px;
}

.adminØkonomiHeadingsMobile {
    display: none;
}

.adminØkonomiOpgaverHeadingsMobile {
    display: none;
}

.uligeMåned {
    background: #dde6dd;
}

.måned {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.opgaver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.adminØkonomiOpgaverHeadings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #fff;
    background: #3c5a3f;
    padding: 10px 20px;
}

.opgaver button {
    background: #3c5a3f;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.opgaver button:hover {
    background: #59bf1a;
}

.posteringerContainer {
    position: relative;
}

.posteringerDiv {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 10px;
    padding: 30px;
    background: #f1f1f1;
    border-radius: 20px 20px 0px 0px;
    overflow-x: auto;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.lukPosteringerButton {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    font-size: 24px;
    background: #ffe4e2;
    color: red;
    border: none;
    padding-bottom: 4px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    z-index: 1000;
}

.selectedOpgave {
    background: #e7eae7;
}

.selectedOpgave .sePosteringerButton {
    background: #59bf1a;
}

.månedOverblikMobile {
    display: none;
}

.adminØkonomiHeading span {
    display: inline-block;
    transform: translateY(-8px)!important;
}

.adminØkonomiOpgaverRækkeDesktop {
        display: grid;
    }

.adminØkonomiOpgaverRækkeMobile {
    display: none;
}

.adminØkonomiOpgaverHeadingsMobile {
    display: none;
}

.akkumuleretContainer {
    background: #f0f0f0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}

.akkumuleretØkonomiTableHeading {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.akkumuleretØkonomiTableTotals {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 5px;
}

.akkumuleretØkonomiTableLine {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 0.9rem;
}

.lineAlignRight p, .lineAlignRight b {
    text-align: right;
    display: block;
}

@media (max-width: 750px) {
    .adminØkonomiHeadingsDesktop {
        display: none;
    }

    .adminØkonomiOpgaverHeadingsDesktop {
        display: none;
    }

    .månedOverblikDesktop {
        display: none;
    }

    .adminØkonomiHeadingsMobile {
        display: grid;
    }

    .adminØkonomiOpgaverHeadingsMobile {
        display: grid;
    }

    .månedOverblikMobile {
        display: grid;
    }

    .adminØkonomiOpgaverHeadings {
        grid-template-columns: 2fr 1.5fr 2fr;
    }

    .adminØkonomiOpgaverRækkeDesktop {
        display: none;
    }

    .adminØkonomiOpgaverRækkeMobile {
        display: grid;
    }

    .opgaver {
        grid-template-columns: 2fr 1.5fr 2fr;
        border-right: 4px solid #59bf1a;
        transition: 0.2s ease;
    }

    .opgaver.selectedOpgave {
        background: #59bf1a;
    }

    .opgaver.selectedOpgave p {
        color: #fff;
    }
}