.loadingSubmission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.successSubmission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.loadingSubmission h2 {
    width: 100%;
    margin-bottom: 0px;
}

.successSubmission h2 {
    width: 100%;
    margin-bottom: 0px;
}