.betalNuKnap {
    background-color: #5978ff;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 20px;
    font-weight: bold;
    font-family: OmnesBold;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.betalNuKnap span {
    color: #fff;
}

.mobilePayLogo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.betalSenereKnap {
    background-color: #00000000;
    color: #59bf1a;
    width: 50%;
    border-radius: 15px;
    border: 1px solid #59bf1a;
    padding: 10px;
    font-weight: bold;
    font-family: Omnes;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-left: 25%;
    cursor: pointer;
    transition: 0.2s ease;
}

.betalSenereKnap:hover {
    background-color: #59bf1a;
    color: white;
}

.betalSenereModalHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backButton {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #222222;
    background-color: none;
    padding: 5px 0px 5px 5px;
    margin-right: 10px;
    margin-top: -20px;
}

.betalMedFakturaKnap {
    background-color: #3c5a40;
    color: white;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    font-family: OmnesBold;
}

.betalMedFakturaKnap:hover {
    background-color: #59bf1a;
    color: white;
}

.loadingSubmission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.qrTimer {
    text-align: center;
}

.qrTimerUdløbet {
    text-align: center;
    color: red;
}

.generérNyQRKnap {
    text-align: center;
    cursor: pointer;
    color: #59bf1a;
    padding: 10px 25px;
    border-radius: 15px;
}

.successHeading {
    font-family: OmnesBold;
    margin-bottom: 10px;
}

.successText {
    font-family: Omnes;
}

.loadingSubmission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #e7eae7;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}