.loadingSubmission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.successSubmission {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 20px;
}

.loadingSubmission h2 {
    width: 100%;
    margin-bottom: 0px;
}

.successSubmission h2 {
    width: 100%;
    margin-bottom: 0px;
}

.backButton {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #222222;
    background-color: none;
    padding: 5px 0px 5px 5px;
    margin-right: 10px;
    margin-top: -20px;
}

.betalSenereModalHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.errorText {
    margin-bottom: 20px;
}